[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "hdm"]
	path = hdm
	url = https://github.com/martinspindler/hdm
	shallow = true
	registered = true
